* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(236, 238, 241);
}

a {
  text-decoration: none;
  color: #2842ff;
}

footer {
  justify-content: center;
  margin: 20px;
}

/* Editing the Navbar */
#navbar {
  display: grid;
  padding: 5px;
}

.navbar-functions {
  grid-column-start: 3;
  grid-column-end: 3;
  display: inline-flex;
  justify-content: flex-end;
  font-size: 12px;
}

.forgotten-password p {
  color: #404040;
  padding: 5px;
}

.forgotten-password a {
  padding: 5px;
}

.sign-in {
  padding: 5px 5px 0 5px;
  margin: 0 20px 0 0;
}

.sign-in button {
  height: 100%;
  width: 100px;
  background-color: #0077c5;
  border: black solid 1px;
  border-radius: 5px;
  color: white;
}

.sign-in i {
  margin-right: 10px;
}

/* Editing Container */
.flex {
  display: flex;
  justify-content: center;
}

.intuit-logo-container {
  text-align: center;
  padding: 20px 0 0 0;
}

.intuit-logo {
  text-align: center;
  max-width: 115px;
  max-height: auto;
}

.logos-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.logos {
  width: 30px;
  height: 30px;
}

.labels {
  margin-top: 0.5%;
  margin-right: 10px;
  margin-left: 5px;
  display: flex;
  color: #404040;
}

.container {
  border: 1px gray solid;
  background-color: white;
  width: 380px;
  border-radius: 5px;
  max-width: 750px;
  margin-bottom: 20px;
}

.container-header {
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
}

.container-header h2 {
  margin: 10px 0 10px 0;
  font-size: 24px;
}

.container-header p {
  font-size: 14px;
}

.container-header a {
  font-size: small;
}

.container-header h2,
.container-header p {
  color: #404040;
}

.container-header-element {
  display: flex;
  justify-content: center;
}

.container-form {
  padding: 10px 0;
}

.form {
  padding: 10px 0;
}

.form-elem {
  margin-bottom: 40px;
}

.form-elem input {
  width: 98%;
  height: 35px;
}

.form label,
.form small {
  color: #404040;
}

.form label{
  font-size: 14px;
}

.form small{
  font-size: 10px;
}

.form-elem button {
  background-color: #0077c5;
  color: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 15.75px;
}

.form-elem i {
  margin-right: 25px;
}

.terms {
  padding: 0 50px;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}

.container-footer {
  background-color: rgb(236, 238, 241);
  width: auto;
  padding: 25px;
  margin-top: 20px;
  border-top: darkgrey solid 1px;
  border-radius: 5px;
  font-size: small;
  text-align: center;
}

.container-footer small,
.terms p {
  color: grey;
}

.container-header,
.container-form {
  margin: 0 25px;
}

/* Editing Footer */
.footer-links {
  color: gray;
}

.footer-links-container {
  text-align: center;
}

.disclaimer {
  text-align: center;
  width: 80%;
}

.disclaimer-container {
  display: flex;
  justify-content: center;
  align-content: center;
  color: grey;
  font-size: small;
}
